#print-masthead {
	DISPLAY: block
}
.bbg {
	DISPLAY: none! important
}
.mbbg {
	DISPLAY: none! important
}
.blbg-border {
	DISPLAY: none! important
}
.blbg {
	DISPLAY: none! important
}
#navigation {
	DISPLAY: none! important
}
#right-nav {
	DISPLAY: none! important
}
.bctl {
	DISPLAY: none! important
}
.bct {
	DISPLAY: none! important
}
.lgray {
	DISPLAY: none! important
}
.no-print {
	DISPLAY: none! important
}
TD.v14-graphic-tab-lblue-table {
	DISPLAY: none! important
}
TR.v14-graphic-tab-lblue-table TD {
	BACKGROUND-COLOR: #fff
}
TD.v14-graphic-tab-dblue-table {
	BORDER-TOP: #000 1px solid; BACKGROUND-COLOR: #fff
}
.v14-graphic-tab-selected {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
.v14-graphic-tab-selected2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
.v14-graphic-tab-unselected {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
.v14-graphic-tab-unselected2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hlrt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-dmrt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hllt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-dmrt-end {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hlrt-end {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hlrt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-dmrt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hllt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-dmrt-end2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
TD.v14-tab-hlrt-end2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/c.gif); BACKGROUND-COLOR: #fff
}
A.v14-tab-link-selected:link {
	FONT-WEIGHT: bold; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
A.v14-tab-link-selected:visited {
	FONT-WEIGHT: bold; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
A.v14-tab-link-selected:hover {
	FONT-WEIGHT: bold; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
A.v14-tab-link-unselected:link {
	FONT-WEIGHT: normal; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: underline
}
A.v14-tab-link-unselected:visited {
	FONT-WEIGHT: normal; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: underline
}
A.v14-tab-link-unselected:hover {
	FONT-WEIGHT: normal; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff; TEXT-DECORATION: underline
}
BODY {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
P {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
B {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.tdblue {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.tdblue {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.tgray {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.small {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.fnt {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
.price {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.why-ibm-rv P {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.why-ibm-rv P A:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.why-ibm-rv P A:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.why-ibm-rv P A:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.why-ibm-rv H2 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.v14-header-1 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TH.v14-header-1 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.v14-header-2 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TH.v14-header-2 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.v14-header-3 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TH.v14-header-3 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD.v14-header-4 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TH.v14-header-4 {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-table {
	WIDTH: 510px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-3-1 P {
	WIDTH: 218px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-3-2 P {
	WIDTH: 218px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-1 P {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-2 P {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-3 P {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-3-1 {
	WIDTH: 218px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-3-2 {
	WIDTH: 218px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-1 {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-2 {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
#content-4-3 {
	WIDTH: 143px; COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; BACKGROUND-COLOR: #fff
}
TD {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif
}
TD.v14-header-1 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TH.v14-header-1 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.v14-header-2 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TH.v14-header-2 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.v14-header-3 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TH.v14-header-3 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TD.v14-header-4 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TH.v14-header-4 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
A.v14-text-tab-select-link:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: none
}
A.v14-text-tab-select-link:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: none
}
A.v14-text-tab-select-link:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: none
}
TR.v14-graphic-tab-lblue-table A.v14-text-tab-unselect-link:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
TR.v14-graphic-tab-lblue-table A.v14-text-tab-unselect-link:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
TR.v14-graphic-tab-lblue-table A.v14-text-tab-unselect-link:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
A.v14-text-tab-unselect-link:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
A.v14-text-tab-unselect-link:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
A.v14-text-tab-unselect-link:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,serif; TEXT-DECORATION: underline
}
A.smallplainlink:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A.smallplainlink:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A.smallplainlink:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A.fbox:link {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A.fbox:visited {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
A.fbox:hover {
	COLOR: #000; FONT-FAMILY: Arial,Nsimsun,Garamond,sans-serif; TEXT-DECORATION: underline
}
TABLE.v14-gray-table-border {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.v14-gray-table-border P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.v14-gray-table-border TABLE {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
BODY {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content-3-1 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content-3-2 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content-4-1 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content-4-2 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
#content-4-3 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
P {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
B {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.tdblue {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.tdblue {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.tgray {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.small {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.fnt {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
.price {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TD {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TD.v14-header-1 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TH.v14-header-1 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TD.v14-header-2 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TH.v14-header-2 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TD.v14-header-3 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TH.v14-header-3 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TD.v14-header-4 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TH.v14-header-4 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-selected:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-selected:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-selected:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-unselected:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-unselected:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-tab-link-unselected:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-select-link:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-select-link:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-select-link:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-unselect-link:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-unselect-link:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.v14-text-tab-unselect-link:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.smallplainlink:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.smallplainlink:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A.smallplainlink:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A:link {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A:visited {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
A:hover {
	FONT-SIZE: 11pt; LINE-HEIGHT: 12pt
}
TABLE.data-table-1 TD {
	FONT-SIZE: 10pt
}
TABLE.data-table-1 TH {
	FONT-SIZE: 10pt
}
TABLE.data-table-2 TD {
	FONT-SIZE: 10pt
}
TABLE.data-table-2 TH {
	FONT-SIZE: 10pt
}
