BODY {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,sans-serif
}
TD {
	LINE-HEIGHT: 19px
}
TH {
	LINE-HEIGHT: 19px
}
UL {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
OL {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TR.cty-tou TD {
	VERTICAL-ALIGN: bottom
}
TR.cty-tou SPAN.spacer {
	FONT-SIZE: 13px; LINE-HEIGHT: 17px; FONT-FAMILY: nsimsun,verdana,sans-serif
}
.country {
	FONT-SIZE: 13px; LINE-HEIGHT: 17px; FONT-FAMILY: nsimsun,verdana,sans-serif
}
A.ur-link:link {
	FONT-SIZE: 13px; LINE-HEIGHT: 17px; FONT-FAMILY: nsimsun,verdana,sans-serif
}
A.ur-link:visited {
	FONT-SIZE: 13px; LINE-HEIGHT: 17px; FONT-FAMILY: nsimsun,verdana,sans-serif
}
A.ur-link:hover {
	FONT-SIZE: 13px; LINE-HEIGHT: 17px; FONT-FAMILY: nsimsun,verdana,sans-serif
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 25px; MARGIN: 0px; LINE-HEIGHT: 35px; FONT-FAMILY: arial,nsimsun,sans-serif
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 0px; LINE-HEIGHT: 16px; FONT-FAMILY: arial,nsimsun,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; LINE-HEIGHT: 24px; FONT-FAMILY: arial,nsimsun,sans-serif
}
H4 {
	FONT-SIZE: 18px; LINE-HEIGHT: 19px; FONT-FAMILY: arial,nsimsun,sans-serif
}
TD.blbg {
	HEIGHT: 23px
}
TD.upper-masthead-divider {
	HEIGHT: 17px
}
#v14-body-table P#subtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 2px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
#v14-body-table P#subtitle EM {
	FONT-STYLE: normal
}
TABLE.data-table-1 TD {
	FONT-SIZE: 12px; PADDING-BOTTOM: 4px
}
TABLE.data-table-1 TH {
	FONT-SIZE: 12px; PADDING-BOTTOM: 4px
}
TABLE.data-table-2 TD {
	FONT-SIZE: 12px; PADDING-BOTTOM: 4px
}
TABLE.data-table-2 TH {
	FONT-SIZE: 12px; PADDING-BOTTOM: 4px
}
#v14-pop-mast H1 {
	PADDING-RIGHT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 16px; MARGIN: 0px; LINE-HEIGHT: 1.1em; FONT-FAMILY: arial,nsimsun,sans-serif
}
.left-nav-child-highlight IMG {
	MARGIN-TOP: 2px; FLOAT: right; MARGIN-RIGHT: 0px
}
.left-nav-child IMG {
	MARGIN-TOP: 2px; FLOAT: right; MARGIN-RIGHT: 0px
}
.rlinks IMG {
	MARGIN-TOP: 2px; FLOAT: right; MARGIN-RIGHT: 0px
}
TD.left-nav {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TD.left-nav-overview {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TH.left-nav-overview {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TR.left-nav-child TD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TD.left-nav-highlight {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TR.left-nav-child-highlight TD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
TD.left-nav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px
}
TD.left-nav-overview {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px
}
TH.left-nav-overview {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px
}
TD.left-nav-highlight {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px
}
TR.left-nav-child TD {
	PADDING-RIGHT: 4px
}
TR.left-nav-child-highlight TD {
	PADDING-RIGHT: 4px
}
TD.related {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px
}
TR.rlinks TD {
	PADDING-RIGHT: 4px; PADDING-BOTTOM: 2px
}
.bullet-spacer {
	PADDING-RIGHT: 4px
}
IMG.pbl {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 10px
}
TR.bullet-list TD {
	PADDING-RIGHT: 0px; VERTICAL-ALIGN: top
}
TR.bullet-list TD IMG {
	PADDING-RIGHT: 4px; FLOAT: right
}
TR.no-padding TD IMG {
	PADDING-RIGHT: 0px
}
.mbbg {
	BACKGROUND: url(//www.ibm.com/i/v14/t/masthead-bg.gif) #000 repeat-x
}
.masthead-phone {
	FONT-WEIGHT: bold
}
TD.lbg {
	FONT-WEIGHT: bold
}
TD.hil {
	FONT-WEIGHT: bold
}
.mbg {
	FONT-WEIGHT: bold
}
.input {
	WIDTH: 130px
}
A.rlinks:link {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.rlinks:visited {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.rlinks:hover {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.rlinks-red:link {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.rlinks-red:visited {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.rlinks-red:hover {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.fbox:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.fbox:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.fbox:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.bs:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.bs:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.bs:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.bct {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.bctl {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.smgraytext {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.small {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.cty-tou-div {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.masthead-phone {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.highlight:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.highlight:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.highlight:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.nav:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.nav:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.nav:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.left-nav-child:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.left-nav-child:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.left-nav-child:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.divider {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.smallplainlink:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.smallplainlink:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.smallplainlink:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.close:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.close:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.close:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.fnt {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
.sth {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.v14-text-tab-unselect-link:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.v14-text-tab-unselect-link:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.v14-text-tab-unselect-link:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablink:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablink:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablink:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablinkblue:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablinkblue:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.tablinkblue:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.toclink:link {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.toclink:visited {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.toclink:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimSun,arial,sans-serif
}
A.left-nav:link {
	VERTICAL-ALIGN: bottom
}
A.left-nav:visited {
	VERTICAL-ALIGN: bottom
}
A.left-nav:hover {
	VERTICAL-ALIGN: bottom
}
A.left-nav-overview:link {
	VERTICAL-ALIGN: bottom
}
A.left-nav-overview:visited {
	VERTICAL-ALIGN: bottom
}
A.left-nav-overview:hover {
	VERTICAL-ALIGN: bottom
}
A.v14-text-tab-unselect-link:link {
	VERTICAL-ALIGN: bottom
}
A.v14-text-tab-unselect-link:visited {
	VERTICAL-ALIGN: bottom
}
A.v14-text-tab-unselect-link:hover {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-selected:link {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-selected:visited {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-selected:hover {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-unselected:link {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-unselected:visited {
	VERTICAL-ALIGN: bottom
}
A.v14-tab-link-unselected:hover {
	VERTICAL-ALIGN: bottom
}
TD.v14-header-1-small {
	VERTICAL-ALIGN: bottom
}
TH.v14-header-1-small {
	VERTICAL-ALIGN: bottom
}
TD.v14-header-2-small {
	VERTICAL-ALIGN: bottom
}
TH.v14-header-2-small {
	VERTICAL-ALIGN: bottom
}
TD.v14-header-3-small {
	VERTICAL-ALIGN: bottom
}
TH.v14-header-3-small {
	VERTICAL-ALIGN: bottom
}
TD.v14-header-4-small {
	VERTICAL-ALIGN: bottom
}
TH.v14-header-4-small {
	VERTICAL-ALIGN: bottom
}
.masthead-phone {
	VERTICAL-ALIGN: bottom
}
A.left-nav-child:link {
	VERTICAL-ALIGN: bottom
}
A.left-nav-child:visited {
	VERTICAL-ALIGN: bottom
}
A.left-nav-child:hover {
	VERTICAL-ALIGN: bottom
}
A.masthead-mainlink:link {
	VERTICAL-ALIGN: bottom
}
A.masthead-mainlink:visited {
	VERTICAL-ALIGN: bottom
}
A.masthead-mainlink:hover {
	VERTICAL-ALIGN: bottom
}
.iform {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.iformwh {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.input {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.input-local {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.input {
	PADDING-RIGHT: 0px; MARGIN-TOP: -2px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
A.masthead-mainlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.masthead-mainlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.masthead-mainlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
B.related {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav-overview:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav-overview:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.left-nav-overview:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-selected:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-selected:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-selected:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-unselected:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-unselected:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-tab-link-unselected:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-1-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-1-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-2-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-2-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-3-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-3-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-4-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-4-small {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.medbluetitlebar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.medgraytitlebar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.lightgraytitlebar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.whitetitlebar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tbmainlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tbmainlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tbmainlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.texttabselectlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.texttabselectlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.texttabselectlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tocselectlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tocselectlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.tocselectlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.tblue {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.tdblue {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.tgray {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.tgreen {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.price {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TD.v14-header-4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TH.v14-header-4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-text-tab-select-link:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-text-tab-select-link:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.v14-text-tab-select-link:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TABLE.data-table-1 CAPTION EM {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
TABLE.data-table-2 CAPTION EM {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.mainlink:link {
	FONT-WEIGHT: bold; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,sans-serif
}
A.mainlink:visited {
	FONT-WEIGHT: bold; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,sans-serif
}
A.mainlink:hover {
	FONT-WEIGHT: bold; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,sans-serif
}
.greytextbld {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.hdgd {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.mdgd {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 13px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.mstagline {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; LINE-HEIGHT: 14px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
A.parent:link {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif; HEIGHT: 22px
}
A.parent:visited {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif; HEIGHT: 22px
}
A.parent:hover {
	FONT-SIZE: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 21px; FONT-FAMILY: verdana,nsimsun,arial,sans-serif; HEIGHT: 22px
}
UNKNOWN {
	DISPLAY: block
}
IMG.display-img {
	DISPLAY: block
}
.title1 {
	FONT-SIZE: 25px; LINE-HEIGHT: 27px; FONT-FAMILY: arial,nsimsun,sans-serif
}
.lggraytitle {
	FONT-SIZE: 25px; LINE-HEIGHT: 27px
}
.tvgray {
	FONT-WEIGHT: bold; FONT-FAMILY: verdana,nsimsun,arial,sans-serif
}
.title {
	FONT-SIZE: 25px; LINE-HEIGHT: 27px; FONT-FAMILY: arial,nsimsun,sans-serif
}
.subtitle {
	FONT-SIZE: 15px; FONT-FAMILY: arial,nsimsun,sans-serif
}
.boldtitle {
	FONT-SIZE: 24px; LINE-HEIGHT: 26px; FONT-FAMILY: "Arial Black",arial,sans-serif
}
.smalltitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: arial,nsimsun,sans-serif
}
#v14-body-table P#newstitle EM {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: arial,nsimsun,sans-serif
}
.pagesubtitle {
	FONT-SIZE: 15px; LINE-HEIGHT: 18px; FONT-FAMILY: arial,nsimsun,sans-serif
}
.pagetitle {
	FONT-SIZE: 24px; LINE-HEIGHT: 26px; FONT-FAMILY: "Arial Black",arial,sans-serif
}
.popup_title {
	FONT-SIZE: 16px; FONT-FAMILY: arial,nsimsun,sans-serif
}
TD.v14-header-1-small {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 4px
}
TH.v14-header-1-small {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 4px
}
TD.v14-header-2-small {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 4px
}
TH.v14-header-2-small {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 4px
}
TD.v14-header-3-small {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-3-small {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-4-small {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-4-small {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-1 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-1 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-2 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-2 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-3 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-3 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-4 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TH.v14-header-4 {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 13px; PADDING-TOP: 3px
}
TD.v14-header-1 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-1 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-1-small {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-1-small {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-2 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-2 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-2-small {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-2-small {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-3 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-3 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-4 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TH.v14-header-4 {
	PADDING-LEFT: 6px; LINE-HEIGHT: 13px
}
TD.v14-header-3-small {
	PADDING-LEFT: 5px; LINE-HEIGHT: 13px
}
TH.v14-header-3-small {
	PADDING-LEFT: 5px; LINE-HEIGHT: 13px
}
TD.v14-header-4-small {
	PADDING-LEFT: 5px; LINE-HEIGHT: 13px
}
TH.v14-header-4-small {
	PADDING-LEFT: 5px; LINE-HEIGHT: 13px
}
TD.gradient_bar {
	PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 2px
}
.imgpaddingright {
	PADDING-RIGHT: 6px
}
.imgpaddingtop {
	PADDING-TOP: 6px
}
#v14-body-table P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 5px
}
TABLE.v14-gray-table-border {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 0px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.v14-gray-table-border P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.v14-gray-table-border TABLE {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
TD.no-padding TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.no-padding TABLE TD P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.left-nav-spacer {
	HEIGHT: 22px; TEXT-ALIGN: right
}
TABLE.v14-list-spac-wbg-no TD {
	PADDING-TOP: 3px
}
TD.v14-graphic-tab-lblue-table TD {
	PADDING-TOP: 3px
}
TABLE.v14-list-spac-wbg-toc TR.bullet-list TD {
	PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
TABLE.v14-list-spac-wbg-no TR.bullet-list TD {
	PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
TABLE.v14-list-spacing TR.bullet-list TD {
	PADDING-BOTTOM: 6px; PADDING-TOP: 0px
}
.esbp {
	PADDING-BOTTOM: 8px
}
.ipt {
	PADDING-TOP: 4px
}
.gbp {
	PADDING-BOTTOM: 9px; PADDING-TOP: 5px
}
.spl {
	PADDING-LEFT: 5px
}
TD.npl P {
	PADDING-LEFT: 0px
}
TD.espl P {
	PADDING-LEFT: 9px! important
}
TD.npb P {
	PADDING-BOTTOM: 0px! important
}
TD.nlbp P {
	PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important
}
TD.iltbp {
	PADDING-LEFT: 7px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TD.ntb P {
	FONT-SIZE: 12px
}
TABLE.parent {
	MARGIN-TOP: 3px
}
.v14-graphic-tab-unselected {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmpttn.gif)
}
TD.v14-tab-hlrt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hlrt.gif)
}
TD.v14-tab-hlrt-end {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hlrt_end.gif)
}
TD.v14-tab-hllt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hllt.gif)
}
TD.v14-tab-dmrt {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmrt.gif)
}
TD.v14-tab-dmrt-end {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmrt_end.gif)
}
.v14-graphic-tab-unselected2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmpttn2.gif)
}
TD.v14-tab-hlrt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hlrt2.gif)
}
TD.v14-tab-hlrt-end2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hlrt_end2.gif)
}
TD.v14-tab-hllt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_hllt2.gif)
}
TD.v14-tab-dmrt2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmrt2.gif)
}
TD.v14-tab-dmrt-end2 {
	BACKGROUND-IMAGE: url(//www.ibm.com/i/v14/tabs/cn/zh/tab_dmrt_end2.gif)
}
TD.v14-graphic-tab-unselected {
	HEIGHT: 22px
}
TD.v14-graphic-tab-selected {
	HEIGHT: 22px
}
.imgleft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
TABLE.v14-gray-table-border .imgleft {
	PADDING-LEFT: 5px
}
TD.text-tab-link-section {
	LINE-HEIGHT: 1.6em
}
.shrinky {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: none; Z-INDEX: 9; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid; POSITION: absolute
}
.displaycode {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Andale Mono, Lucida Console, Monaco, fixed, monospace
}
.boldcode {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Andale Mono, Lucida Console, Monaco, fixed, monospace
}
.code-outline {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
